$white: #fff;
$backgroundImage: linear-gradient(315deg, #48c6ef 0%, #6f86d6 74%);
$backgroundImageBox: linear-gradient(315deg, #a1c4fd 0%, #c2e9fb 100%);
$back-color: rgba(0, 0, 0, 0.8);
$heading-color: rgb(87, 115, 201);
$hover-color: #333;
$hover-bac-color: #ddd;
$warning: rgb(255, 0, 0);
$border-color: #ddd;
