$white: #fff;
$backgroundImage: linear-gradient(315deg, #30a9ce 0%, #3476d8 74%);
$back-color: rgba(0, 0, 0, 0.8);
$heading-color: rgb(87, 115, 201);
$hover-color: #333;
$hover-bac-color: #ddd;
$warning: rgb(255, 0, 0);
$border-color: #ddd;
