@import "./components";
@import "./colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $white;
  font-size: 20px;
  background-image: $backgroundImage;
  width: 100%;
  min-height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;

  .top {
    padding: 0.5em;

    &__heading {
      text-transform: uppercase;
      text-align: center;
      font-size: 1.8rem;
      margin: 1em;
      color: rgb(36, 36, 139);
      font-weight: 100;
      letter-spacing: 0.5rem;
    }

    &__mainInfo {
      display: flex;
      flex-direction: column;

      &-cityName {
        color: black;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0.5em;
      }

      input {
        font-size: 0.9rem;
        padding: 0.5em;
        margin-top: 10px;
        background: $back-color;
        color: $white;
        border-bottom: 2px solid $border-color;
      }

      input::placeholder {
        color: $white;
      }

      &-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0.5em;

        &-send,
        &-conv {
          display: flex;
          justify-content: center;
          min-width: 15px;
          font-size: 0.7rem;
          padding: 0.7em;
          color: $white;
          font-weight: bold;
          background: rgb(93, 115, 180);
          border-radius: 5px;
          text-transform: uppercase;
          margin: auto 2em;

          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            color: $hover-color;
            background-color: $hover-bac-color;
          }
        }
      }

      &-warning {
        text-align: center;
        text-transform: uppercase;
        padding-top: 1em;
        font-size: 1.2rem;
        color: $warning;
        padding-bottom: 0em;
      }

      &-photo {
        padding-bottom: 25px;
        object-fit: contain;
        padding-bottom: 25px;
        padding: 3em;
        object-fit: contain;
      }
    }
  }

  .bottom {
    height: 140px;
    &__headings,
    &__weatherInfo {
      display: flex;
      align-items: center;

      p {
        width: 33.3%;
        text-align: center;
      }
    }

    &__headings {
      height: 35%;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 100;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    &__weatherInfo {
      height: 65%;
      font-size: 16px;
    }
  }
}
